.blue{ 
  color: skyblue
  ;}
.pink{
  color: rgb(225, 192, 203);
}
body{
  font-family: "arial", "meiryo", sans-serif;
}
h1{
  letter-spacing: 1.2em;
  border-bottom: solid 3px rgb(115, 115, 114);
  text-shadow: 1px 1px 2px gray;
  font-size: 2rem;
}

.google-fonts {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
  text-align: center
  ;}
  #basic p {
  font-weight: bold;
  }
  html{
    font-size: 20px;
  }